
.icon-download-alt:before { content: '\e801'; } /* '' */
.icon-youtube:before { content: '\e802'; } /* '' */
.icon-youtube-3:before { content: '\e803'; } /* '' */
.icon-play:before { content: '\e804'; } /* '' */
.icon-play-circled2:before { content: '\e805'; } /* '' */
.icon-play-circled:before { content: '\e806'; } /* '' */
.icon-play-1:before { content: '\e807'; } /* '' */
.icon-play-circle2:before { content: '\e808'; } /* '' */
.icon-download-1:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-search-1:before { content: '\e80b'; } /* '' */
.icon-search-circled:before { content: '\e80c'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-download-2:before { content: '\f02e'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-youtube-2:before { content: '\f167'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-youtube-1:before { content: '\f313'; } /* '' */